

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Collections</span>

    <span class="example-spacer"></span>
    
    <button mat-button>Users</button>
    <button mat-button>Warriors</button>
    <button mat-button>Teams</button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Who has the best app?">
  </mat-form-field>

  <br>
  
  <button mat-raised-button (click)="showAnswer()">Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>


<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, you're damn right.</h1>
</mat-card>