/* You can add global styles to this file, and also import other style files */


@import '~@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import '~@angular/material/theming';
@include mat-core();


$my-app-primary: mat-palette($mat-red, A700, 600, A100);
$my-app-accent:  mat-palette($mat-green, 600);
$my-app-warn:    mat-palette($mat-grey,50, 50, 50);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}