
.nav {
    justify-self: right;
    justify-content: flex-start
}

.navBody{
    width: 95%;
    margin: 0 auto;
    height: 80%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

// .router-outlet {
//     background-image: url("/assets/home_background.png");
//     background-color: #cccccc;
// }

