


<img class='warriorIcon' width="70px" height="70px" src="{{warrior.icon}}"> 
<h1>Warrior Report</h1>

<div mat-dialog-content>

  <mat-card class="warriorSessions">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Sessions</mat-card-title>
        <mat-card-subtitle>all warriors sessions...</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content  [style.overflow]="'auto'" [style.height.px]="'300'">
          <mat-list *ngIf="warriorSessions">
              <mat-list-item (click)='openSessionReportDialog(session)' *ngFor="let session of warriorSessions"> 
                  <img class="mapIcon" aria-hidden [src]="session.map.icon">
                  <h3 class='trainName'>{{session.map.trainName}}</h3>
                  <div class="warriorSessionDate"> {{session.date}}</div>
                  <h4 class='score'>Score: {{session.score}}</h4>
                <mat-divider></mat-divider>

              </mat-list-item>
          </mat-list>
      </mat-card-content>
  </mat-card>

  <div class='warriorInformation'>
      <h1 class='warrior' mat-dialog-title>Warrior: {{warrior.firstname}} {{warrior.lastname}}</h1>
      <h2 class='phone' mat-dialog-title>Phone: {{warrior.phone}} </h2>
      <h2 class='age' mat-dialog-title>Age: {{warrior.age}} </h2>
      <h2 class='job' mat-dialog-title>Job: {{warrior.job}} </h2>
      <div>
          <h2 class='team' mat-dialog-title>Team: {{warrior.team}} </h2>
          <img class='teamIcon' width="50px" height="50px" src="{{warriorTeam.pic}}"> 
      </div>
      <h2>Total Rate {{warrior.rate}}</h2>
  </div>

</div> 

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">Close</button>
</div> 