

<img width="500px" height="300px" src="https://user-images.githubusercontent.com/16168414/49344554-a38de680-f681-11e8-8eb4-be05a1634ce0.png">

<!-- <button mat-raised-button (click)="DeleteDocumentButton()">Delete User</button> -->

<!-- <button mat-raised-button (click)="updateWarriorButton()">update warrior</button> -->
<!-- <button mat-raised-button (click)="getWarriorByQuery()">get warrior By Query</button> -->


<button mat-raised-button (click)="addCollectionButton('maps')">Add Users Collection</button>
<!-- <button mat-raised-button (click)="deleteCollectionButton('maps')">Delete Users Collection</button> -->
<!-- <button mat-raised-button (click)="showCollectionButton('sessions')">Show Users Collection</button> -->
<!-- <button mat-raised-button (click)="addDocumentButton()">Add User</button>  -->



<button mat-raised-button (click)="timerApplication()">Start Timer</button>
<div class="time">{{time}}</div>


