
<div class='homePage'>
    
<img class='logo' src="/assets/SSR-logo2.png">

</div>





<!-- <button mat-raised-button (click)="DeleteDocumentButton()">Delete User</button> -->
<!-- <button mat-raised-button (click)="openWebSocket()">Open web-socket</button> -->

<!-- <button mat-raised-button (click)="updateWarriorButton()">update warrior</button> -->
<!-- <button mat-raised-button (click)="getWarriorByQuery()">get warrior By Query</button> -->


<!-- <button mat-raised-button (click)="recreateAllCollections()">Re-create all collections</button>
<button mat-raised-button (click)="recreatSessionsCollectionButton()">recreate Sessions Collection</button>  -->
<!-- <button mat-raised-button (click)="deleteCollectionButton('maps')">Delete Users Collection</button> -->
<!-- <button mat-raised-button (click)="showCollectionButton('sessions')">Show Users Collection</button> -->
<!-- <button mat-raised-button (click)="addDocumentButton()">Add User</button>  -->



<!-- <button mat-raised-button (click)="stopWatch.startTimer()">{{stopWatch.startText}}</button>
<button mat-raised-button (click)="stopWatch.clearTimer()">Clear</button>
<div class="time">{{stopWatch.currentTimeString}}</div>

 -->
