
.date {
    float: left;
}
.warrior {
    float: right;
    margin-right: 5%;
}

.mapIcon {
    float: right;
    margin-right: 5%;
    margin-bottom: 10px;
}
.title {
    float: left;
}

table {
    width: 100%;
  }