
.date {
    float: left;
}
.warrior {
    float: right;
    margin-right: 5%;
}

.mapIcon {
    float: right;
    margin-right: 5%;
    margin-bottom: 10px;
}
.title {
    float: left;
}

table {
    width: 100%;
  }

.sensorsTable{
    width: 45%;
    float: left;
 }
.targetsTable{
    width: 45%;
    float: right;
 }

 .mat-dialog-content{
     width: 100%
 }

 .density {
     width: 30%;
     float: left;
 }

 .totalTime{
    float: right;
    margin-top: 5%;
    width: 50%;
 }

 .score{
    float: right;
    width: 50%;
 }