
.date {
    float: left;
}
.warrior {
    float: right;
    margin-right: 5%;
}

.mapIcon {
    float: right;
    margin-right: 5%;
    margin-bottom: 10px;
}
.title {
    float: left;
}

table {
    width: 100%;
  }

.sensorsTable{
    width: 45%;
    float: left;
 }
.targetsTable{
    width: 55%;
    float: right;
 }

 .mat-dialog-content{
     width: 100%
 }

 .density {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
 }

 .totalTime{
    text-align: center;
 }

 .score{
    text-align: center;
 }