


<h1 mat-dialog-title>New Session</h1>

<div mat-dialog-content>

    <mat-horizontal-stepper  [linear]="true" #stepper>

        <mat-step>
          <form>
            <ng-template matStepLabel>Choose Warrior</ng-template> 
            

             <mat-form-field class="form-field">
                <mat-select placeholder="Assign a warrior..."  [(ngModel)]="chosenWarrior" [ngModelOptions]="{standalone: true}">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let warrior of warriors" [value]="warrior">
                    
                      <span>{{warrior.firstname}} {{warrior.lastname}}</span>
                 
                    <div class="floatRight">
                       {{warrior.team}}
                       <img *ngIf="warrior.teamPic" aria-hidden [src]="warrior.teamPic" height="25">
                    </div>

                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="myControl.hasError('required')">Please choose a warrior</mat-error> -->
                <mat-hint style="color:red;" *ngIf="chosenWarrior==undefined">Please choose a warrior</mat-hint>
              </mat-form-field>

            <div>
                <button mat-raised-button class="floatRight" color="primary" (click)="goForwardStepOne(stepper)" type="button">Next</button>
            </div> 

         </form> 
        </mat-step>

        <mat-step>
          <form>
            <ng-template matStepLabel>Pick up map</ng-template>

            
            <mat-form-field class="form-field">
                <mat-select placeholder="Assign a map..."  [(ngModel)]="chosenMap" [ngModelOptions]="{standalone: true}">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let map of maps" [value]="map">
                      <img class="example-option-img" aria-hidden [src]="map.icon" height="35">
                      <span>  {{map.trainName}}</span>
                  </mat-option>
                </mat-select>
                <mat-hint style="color:red;" *ngIf="chosenMap==undefined">Please choose a map</mat-hint>
            </mat-form-field>
            <img id="img2" *ngIf="chosenMap!==undefined" width="150px" height="200px" src="{{chosenMap.icon}}">
            
            <p></p>
            <div>
              <button mat-raised-button class="floatRight" color="primary" (click)="goForwardStepTwo(stepper)" type="button">Next</button>
              <button mat-raised-button class="floatRight"  matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <form>
            <ng-template matStepLabel>Create new map</ng-template>

            <div class="example-full-width"> 
               
              <mat-form-field>
                <input matInput placeholder="Train Name" [(ngModel)]="newMap.trainName"  [ngModelOptions]="{standalone: true}">
                <mat-hint style="color:red;" *ngIf="newMap.trainName==''">Please name the train</mat-hint>
              </mat-form-field>
              
              <img id="img1" *ngIf="newMap.icon!==''" width="150px" height="150px" src="{{newMap.icon}}"> 
              
              <div>
                <mat-form-field style="width:15% !important">
                    <mat-select placeholder="Targets"  [(ngModel)]="numOfTargets" [ngModelOptions]="{standalone: true}">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let number of numbers" [value]="number"> 
                            <span>{{number}}</span>
                        </mat-option>
                      </mat-select>
                      <mat-hint style="color:red;" *ngIf="numOfTargets==undefined">How many targets?</mat-hint>
                </mat-form-field>    
            
                <div class="divider"></div> 
            
                <mat-form-field style="width:15% !important">
                    <mat-select placeholder="Sensors" [(ngModel)]="numOfSensors" [ngModelOptions]="{standalone: true}">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let number of numbers" [value]="number"> 
                            <span>{{number}}</span>
                        </mat-option>
                      </mat-select>
                      <mat-hint style="color:red;" *ngIf="numOfSensors==undefined">How many sensors?</mat-hint>
                </mat-form-field>  
              </div>
             
              <mat-form-field style="width:15% !important">
                  <mat-select [(ngModel)]="newMap.icon" placeholder="Icon" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let icon of trainIcons" [value]="icon">
                          <img class="example-option-img" aria-hidden [src]="icon" height="45">
                      </mat-option>
                  </mat-select> 
                  <mat-hint style="color:red;" *ngIf="newMap.icon==''">Please pick an icon</mat-hint>
              </mat-form-field> 
  
            </div>

            <div>
                <button mat-raised-button class="floatRight" color="primary" (click)="goForwardStepThree(stepper)" type="button">Next</button>
                <button mat-raised-button class="floatRight"  matStepperPrevious>Back</button>
            </div>

          </form>
        </mat-step> 


        <mat-step>

          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-raised-button class="floatRight" color="primary" (click)="close(true)" type="button">Start Session</button>
            <button mat-raised-button (click)="goBackStepThree(stepper)">Back</button>
            <button mat-raised-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>


      </mat-horizontal-stepper>

</div>

  <div mat-dialog-actions>
    <button mat-button (click)="close(false)">Cancle</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->


</div>