


<h1 mat-dialog-title>New Session</h1>

<div mat-dialog-content>

    <mat-horizontal-stepper  [linear]="true" #stepper>

        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Choose Warrior</ng-template> 
            

             <mat-form-field>
                <mat-select placeholder="Assign a warrior..." [formControl]="myControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let warrior of warriors" [value]="warrior">
                      <span>{{warrior.firstname}} {{warrior.lastname}}</span>
                       <small> rate: {{warrior.rate}}</small> 
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myControl.hasError('required')">Please choose a warrior</mat-error>
                <mat-hint>{{myControl.value?.rate}}</mat-hint>
              </mat-form-field>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div> 
         </form> 
        </mat-step>


        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>


      </mat-horizontal-stepper>

</div>


  <div mat-dialog-actions>
    <button mat-button (click)="cancleButton()">Cancle</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>