


.form-field{
    width: 50%
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}
small{
    align-self: flex-end
}

.floatRight{
    float: right;
    margin: 5px;
}

.stepTwo {
    width: 100%
}

.divider{
    width:50px;
    height:auto;
    display:inline-block;
}

.example-full-width {
    width: 100%;
  }

  .numberInput{
    width: 10%;
    float: left;
  }

  #img1 {
      float: right;
      margin-right: 15%
  }