


:host /deep/ .example-wall-box {
    width: 90px;
    height: 90px;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 1;
    padding: 0;
    background-color: transparent;
  }
  